.hidden-spoiler {
  opacity: 0;
}

.spoiler-revealer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99; /* under header, which is 100 */
  border: 2px dashed #fc4c02;
  padding: 32px;
}

.spoiler-revealer > .spoiler-reveal-button {
  display: flex;
  align-items: center;
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 100;
  text-transform: uppercase;
  border-radius: 6px;
  transition: all 0.3s ease 0s;
  padding: 10px 19px 10px 16px;
  cursor: zoom-in;
}

.spoiler-revealer > .spoiler-reveal-button > .spoiler-icon {
  margin-right: 10px;
}

.spoiler-revealer > .spoiler-reveal-button:hover {
  background: white;
  color: rgb(64, 64, 64) !important;
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

.spoiler-revealer.top {
  align-items: flex-start;
}
